body {
    text-align: center;
    background-color: #FFE3BB;
    font-family: 'Sometype Mono', monospace;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

article {
    border: 3px black solid;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
}

#tombol {
    border: 2px solid black;
    border-radius: 15px 5px;
    padding: 10px;
    background-color: #83A2FF;
    font-family: 'Sometype Mono', monospace;
}